<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Kết hợp cả hai quyền -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeApp"
        tools:targetApi="31">

        <activity
            android:name=".AddRecipeActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RecipeApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Kết hợp tên lớp rút gọn và đầy đủ, chọn dùng dạng đầy đủ (đề xuất hơn) -->
        <activity android:name="com.example.recipeapp.Login" />
        <activity android:name="com.example.recipeapp.User_page" />
        <activity android:name="com.example.recipeapp.Admin_page" />
        <activity android:name="com.example.recipeapp.Sign_up" />
        <activity android:name="com.example.recipeapp.User_home_page" />
        <activity android:name="com.example.recipeapp.User_profile" />
        <activity android:name="com.example.recipeapp.User_edit_profile" />
        <activity android:name="com.example.recipeapp.User_management" />
        <activity android:name=".SearchByCategoryActivity" />
        <activity android:name="com.example.recipeapp.RecipeListApprove" />
        <activity android:name=".searchRecipesByIngredient" />
        <activity android:name="com.example.recipeapp.RecipeDetailActivity" />
    </application>

</manifest>
